**/bin/
**/obj/
**/.vs/
**/packages/
*.suo
*.user
/DirtRally/DirtParser/bin

obj

.vs
/LOL/LOLLiveStreamParser/nbproject/private/
/LOL/LOLLiveStreamParser/build/
/LOL/LOLLiveStreamParser/dist/
/LOL/LOLLiveStreamParser/target/
*.tlog
*.idb
*.class
